# local env file MUST be named - `.env` OR `.env.local`(recommended)
AUTH_SECRET=            # can be generated using - `openssl rand -base64 33`
AUTH_SALT_ROUNDS=       # number

NEXTAUTH_URL='http://localhost:3000'
# assuming you're woking on localhost:3000, change if some other port

AUTH_TRUST_HOST=true    #AUTH_TRUST_HOST, for vercel it is default true

DB_URL=
# for databases, if you want to use drizzle-studio,
# you have to use database securely, i.e. SSL Certs
# you can use https://railway.app/?referralCode=Ms4Rg-
# # I have no clue whose referral code that is.

# if you prefer LOCAL POSTGRES DATABASE,
# you can use dbBeaver on Mac to view the database

# -------------- 🚨IMPORTANT🚨 --------------
### Frontend URLs
### If you want to access, a env var on client side
### (client files are those with 'use client' at top, or/and have react hooks)
# All those URLS need to be prefixed with NEXT_PUBLIC_
# e.g.
# if you want to use GET_SCORE_API=some-value then it should be

NEXT_PUBLIC_GET_SCORE_API=value # this is example variable

### Backend urls
# you can declare variables as usual - but
# 🚧 Caution: if you want to use env variables
# inside files which will run "outside" next-js env,
# you'll need to use the dotenv package (used with db.ts and drizzle.config.ts)
# that's why dotenv is installed as a dev-dependencym as
# on the app itself we're relying on next-js to provide the env vars
DB_URL=http://dev.secretUrl.db
